BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Always
ColumnLimit: 100
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
BreakBeforeBraces: Allman
NamespaceIndentation: All
PointerAlignment: Left
SpaceAfterCStyleCast: true
SortIncludes: true
IncludeBlocks: Regroup
SpacesBeforeTrailingComments: 1
SpaceAfterTemplateKeyword: true
ReflowComments: true
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignTrailingComments: true
Cpp11BracedListStyle: true
AccessModifierOffset: -4
ConstructorInitializerAllOnOneLineOrOnePerLine: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortEnumsOnASingleLine: true
AlignAfterOpenBracket: Align

