name: CMake on multiple platforms

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
        build_type: [Release]
        c_compiler: [gcc, clang, cl]
        include:
          - os: ubuntu-latest
            c_compiler: gcc
            cpp_compiler: g++
          - os: ubuntu-latest
            c_compiler: clang
            cpp_compiler: clang++
          - os: windows-latest
            c_compiler: cl
            cpp_compiler: cl
        exclude:
          - os: windows-latest
            c_compiler: gcc
          - os: windows-latest
            c_compiler: clang
          - os: ubuntu-latest
            c_compiler: cl

    steps:
    - uses: actions/checkout@v4

    - name: Install toml++ library
      id: install-deps
      shell: bash
      run: |
        if [ "$RUNNER_OS" == "Linux" ]; then
          sudo apt-get update
          sudo apt-get install -y libtomlplusplus-dev
          echo "TOOLCHAIN_ARG=" >> $GITHUB_ENV
          echo "MSVC_FLAGS=" >> $GITHUB_ENV  # Пустая строка для Linux
        elif [ "$RUNNER_OS" == "Windows" ]; then
          git clone https://github.com/Microsoft/vcpkg.git
          ./vcpkg/bootstrap-vcpkg.bat
          ./vcpkg/vcpkg install tomlplusplus
          
          VCPKG_ROOT_WIN=$(cygpath -w $(pwd)/vcpkg)
          VCPKG_TOOLCHAIN_FILE="$VCPKG_ROOT_WIN\\scripts\\buildsystems\\vcpkg.cmake"
          
          echo "TOOLCHAIN_ARG=-DCMAKE_TOOLCHAIN_FILE=$VCPKG_TOOLCHAIN_FILE" >> $GITHUB_ENV
          
          echo "MSVC_FLAGS=-DCMAKE_CXX_FLAGS_RELEASE=/W4 -DCMAKE_C_FLAGS_RELEASE=/W4" >> $GITHUB_ENV
        fi

    - name: Set reusable strings
      id: strings
      shell: bash
      run: |
        echo "build-output-dir=${{ github.workspace }}/build" >> "$GITHUB_OUTPUT"

    - name: Configure CMake
      run: >
        cmake -B ${{ steps.strings.outputs.build-output-dir }}
        -DCMAKE_CXX_COMPILER=${{ matrix.cpp_compiler }}
        -DCMAKE_C_COMPILER=${{ matrix.c_compiler }}
        -DCMAKE_BUILD_TYPE=${{ matrix.build_type }}
        ${{ env.TOOLCHAIN_ARG }}
        ${{ env.MSVC_FLAGS }}  # <--- Теперь здесь передаются новые флаги для MSVC
        -S ${{ github.workspace }}

    - name: Build
      run: cmake --build ${{ steps.strings.outputs.build-output-dir }} --config ${{ matrix.build_type }}

    - name: Test
      working-directory: ${{ steps.strings.outputs.build-output-dir }}
      run: ctest --build-config ${{ matrix.build_type }}